.Card1{
    background-color: rgb(122, 223, 189);
    padding: 1rem;
    margin: 1rem;
}
.Lable1{
    margin: 1rem;
}
.button{
    width: 10rem;
}
.card-img, .card-img-top{
    border-radius: 10px;
    width:10px;
    color: teal;
}